<div class="container">
    <p><button class="btn btn-primary" (click)="viewModal1()">Modal1</button></p>
    <p><button class="btn btn-primary" (click)="viewModal2()">Modal2</button></p>
    <p><button class="btn btn-primary" (click)="viewModal3()">Modal3</button></p>
</div>

<!--EL Dropdowns NO FUNCIONA POR QUE EN EL index.html tenenmos que...-->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>
<!-- _______________________________________________________________ -->

<!--Usanmos la Plantilla HTML-->
<app-modal-test></app-modal-test>